Initialisation

In [1]:
import sqlite3
from sqlite3 import Error
import csv
from copy import deepcopy

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection


con = create_connection(path=r'D:\code\data_analyse\2024-total-database.db')
cur = con.cursor()
def do_sql(sql, cur=cur):
    res = None
    print(">>>"+sql)
    try:
        res = cur.execute(sql)
    except Error as e:
        print(f"The error '{e}' occurred")

    return res


champion_list = ["Aatrox", "Ahri",	"Akali",	"Akshan", "Alistar",	"Amumu",	"Anivia",	"Annie",	"Aphelios",
"Ashe",	"Aurelion Sol",	"Azir",	"Bard",	"Bel'Veth", "Blitzcrank",	"Brand",	"Braum",	"Briar",
"Caitlyn",	"Camille",	"Cassiopeia",	"Cho'Gath",	"Corki",	"Darius",	"Diana",
"Dr. Mundo",	"Draven",	"Ekko",	"Elise",	"Evelynn",	"Ezreal",	"Fiddlesticks",	"Fiora",	
"Fizz",	"Galio",	"Gangplank",	"Garen",	"Gnar",	"Gragas",	"Graves", "Gwen",	"Hecarim",	"Heimerdinger",
"Hwei", "Illaoi",	"Irelia",	"Ivern",	"Janna",	"Jarvan IV",	"Jax",	"Jayce",	"Jhin",	"Jinx",
"Kai'Sa",	"Kalista",	"Karma",	"Karthus",	"Kassadin",	"Katarina",	"Kayle",	"Kayn",	"Kennen",
"Kha'Zix",	"Kindred",	"Kled",	"Kog'Maw", "K'Sante",	"LeBlanc",	"Lee Sin",	"Leona", "Lillia",	"Lissandra",	"Lucian",	
"Lulu",	"Lux",	"Malphite",	"Malzahar",	"Maokai",	"Master Yi", "Milio",	"Miss Fortune",	"Mordekaiser",	
"Morgana",	"Naafiri", "Nami",	"Nasus",	"Nautilus",	"Neeko",	"Nidalee",	"Nilah", "Nocturne",	"Nunu & Willump",	
"Olaf",	"Orianna",	"Ornn",	"Pantheon",	"Poppy",	"Pyke",	"Qiyana",	"Quinn",	"Rakan",	
"Rammus",	"Rek'Sai",	"Rell", "Renata Glasc", "Renekton",	"Rengar",	"Riven",	"Rumble",	"Ryze", "Samira",	"Sejuani",	"Senna",	"Seraphine",
"Sett",	"Shaco",	"Shen",	"Shyvana",	"Singed",	"Sion",	"Sivir",	"Skarner", "Smolder",	"Sona",	"Soraka",	
"Swain",	"Sylas",	"Syndra",	"Tahm Kench",	"Taliyah",	"Talon",	"Taric",	"Teemo",	
"Thresh",	"Tristana",	"Trundle",	"Tryndamere",	"Twisted Fate",	"Twitch",	"Udyr",	"Urgot",	
"Varus",	"Vayne",	"Veigar",	"Vel'Koz", "Vex",	"Vi",	"Viego", "Viktor",	"Vladimir",	"Volibear",	"Warwick",	
"Wukong",	"Xayah",	"Xerath",	"Xin Zhao",	"Yasuo", "Yone",	"Yorick",	"Yuumi",	"Zac",	"Zed",	
"Zeri", "Ziggs",	"Zilean",	"Zoe",	"Zyra"]


db_top_team_2024 = {name:name+"_top_team_2024" for name in ["database", "draft", "bans", "adc_supp", "top_mid_jungle"]}
db_2023 = {name:name+"_2023" for name in ["database", "draft", "bans", "adc_supp", "top_mid_jungle"]}
db = db_2023

Connection to SQLite DB successful

Avoir les bans de tout les champions
write_multiple_ban() ou print_multiple_bans()

In [ ]:

def get_ban(champion, db='database_top_team_2024', win=False):
    """
    take a champion as entry
    return a dict with for each champion the number of time he was banned
    """
    champ_bans = {}
    for champ in champion_list:
        champ_bans[champ] = 0
    
    for i in range(1,6):
        if win:
            res = do_sql(f"SELECT ban{i} FROM {db} WHERE champion = \"{champion}\" AND result = '1'", cur).fetchall()
        else:
            res = do_sql(f"SELECT ban{i} FROM {db} WHERE champion = \"{champion}\"", cur).fetchall()
        for champ in res:
            if champ[0] != None:
                champ = champ[0]
                champ_bans[champ] += 1

    return champ_bans


def print_ban(dictio):
    """
    simply print from a dict from get_ban(). good for copy/paste into an excel file
    """
    for champion, nb_of_bans in dictio.items():
        # print(f"{champion}, {nb_of_bans}")
        print(nb_of_bans)

def print_multiple_bans(list_of_dictio):
    """
    print for_each champions of champion_list the number of bans. good for copy/paste into an excel file
    """
    for champ in champion_list:
        for dictio in list_of_dictio:
            print(dictio[champ], end=",")
        print()


def write_multiple_bans(list_of_dictio):
    """
    same as print_multiple_bans() but write it in a csv file instead of printing it
    """
    champion_list2 = deepcopy(champion_list)
    champion_list2.insert(0, None)
    x = 1
    result_list = [champion_list2, []]
    # print("champion_list2", champion_list2)
    # print("result_list", result_list)
    # print("list_of_dictio", list_of_dictio)

    for champ in champion_list:
        result_list[x].append(champ)
        for dictio in list_of_dictio:
            result_list[x].append(dictio[champ])
        result_list.append([])
        x +=1
    
    with open("bans.csv", mode='w', newline='') as fichier_csv:
        writer = csv.writer(fichier_csv)
        writer.writerows(result_list)


def create_list_of_bans():
    """
    create a dict with for each champions their bans
    this list is used in the others functions
    """
    list_of_dictio = []
    for i in range(len(champion_list)):
        bans = get_ban(champion_list[i])
        list_of_dictio.append(bans)
    return list_of_dictio

write_multiple_bans(list_of_dictio=create_list_of_bans())

Avoir les drafts

In [68]:
con = create_connection(path=r'D:\code\data_analyse\2024-total-database.db')
cur = con.cursor()

def get_game_id():
    res = do_sql(f'SELECT gameid FROM {db["database"]}', cur).fetchall()
    list_of_game_id = []
    for gameid in res:
        if not gameid[0] in list_of_game_id:
            list_of_game_id.append(gameid[0])
    return list_of_game_id

def get_draft():
    """
    algo demandant en ressource
    retourne toutes les drafts de la forme: [[champ1, champ2, champ3, champ4, champ5],[...]]
    """
    list_of_game_id = get_game_id()
    print("nb de games", len(list_of_game_id))
    drafts = []
    # for i in range(5):
    #     gameid = list_of_game_id[i]
    for gameid in list_of_game_id:
        for side in ['Blue', 'Red']:
            draft = do_sql(f"SELECT champion FROM {db['database']} WHERE gameid = '{gameid}' AND side='{side}'", cur).fetchall()
            result = do_sql(f"SELECT result FROM {db['database']} WHERE gameid = '{gameid}' AND side='{side}'", cur).fetchone()
            clean_draft = []
            for champ in draft:
                if champ[0] != None:
                    clean_draft.append(champ[0])
            clean_draft.append(int(result[0]))
            drafts.append(clean_draft)
    
    draft2 = {}
    for draft in drafts:
        if not str(draft) in draft2.keys():
            draft2[str(draft)] = 1
        else:
            draft2[str(draft)] += 1
    # drafts = [key[2::] for key, repet in draft2.items()]
    final_drafts = []
    for el, result in draft2.items():
        el = eval(el)
        el.append(result)
        final_drafts.append(el)

    return final_drafts

def write_drafts():
    drafts = get_draft()

    with open(f'draft_{db["database"]}.csv', 'w', newline='') as ficher_csv:
        csv_writer = csv.writer(ficher_csv)
        fieldnames = ['top','jungle','mid', 'adc', 'support', 'result', 'count']
        csv_writer.writerows([fieldnames])
        csv_writer.writerows(drafts)
    
def get_drafts_from_csv():
    drafts = []

    with open(r'draft.csv', newline='') as csvfile:
        lecteur_csv = csv.reader(csvfile, delimiter=',')
        for ligne in lecteur_csv:
            drafts.append(ligne)

    return drafts    


def get_draft_for_champion_count(champion):
    res = do_sql(f'SELECT top, jungle, mid, adc, support FROM {db["draft"]} WHERE top = "{champion}" OR jungle = "{champion}" OR mid = "{champion}" OR adc = "{champion}" OR support = "{champion}"', cur).fetchall()
    champions_in_draft = []
    for draft in res:
        for champions in draft:
            if champions != champion:
                champions_in_draft.append(champions)

    champ_in_draft_count = {}
    for champ in champion_list:
        champ_in_draft_count[champ] = 0
    
    for champions in champions_in_draft:
        champ_in_draft_count[champions] += 1
    
    print(champ_in_draft_count)
    return champ_in_draft_count

def write_champions_in_draft_count():
    """
    semble écrire pour chaque champ le nb de games faites avec un autre oui
    """
    list_of_dictio = []
    for i in range(len(champion_list)):
        champ_in_draft_count = get_draft_for_champion_count(champion_list[i])
        list_of_dictio.append(champ_in_draft_count)

    champion_list2 = deepcopy(champion_list)
    champion_list2.insert(0, None)
    x = 1
    result_list = [champion_list2, []]
    # print("champion_list2", champion_list2)
    # print("result_list", result_list)
    # print("list_of_dictio", list_of_dictio)

    for champ in champion_list:
        result_list[x].append(champ)
        for dictio in list_of_dictio:
            result_list[x].append(dictio[champ])
        result_list.append([])
        x +=1
    
    print('result_list',result_list)
    with open("draft_count.csv", mode='w', newline='') as fichier_csv:
        writer = csv.writer(fichier_csv)
        writer.writerows(result_list)

# write_champions_in_draft_count()
write_drafts()

Connection to SQLite DB successful
nb de games 10848

KeyboardInterrupt:

Meta

In [22]:

def write_top_jgl_mid_drafts():
    drafts = do_sql(f'SELECT top, jungle, mid FROM {db["draft"]}').fetchall()
    result = {}
    # drafts = [['Fiora', 'Zac', 'Veigar', 'Varus', 'Taric'], ['Aatrox', 'Wukong', 'Syndra', 'Varus', 'Renata Glasc'], ['Aatrox', 'Wukong', 'Syndra', 'Varus', 'Renata Glasc']]
    for draft in drafts:
        # print(str(draft))
        # print(str(result.keys()))
        # print()
        if not draft in result.keys():
            result[draft] = 1
        else:
            result[draft] += 1

    with open(f'top_mid_jgl_{db["draft"]}.csv', 'w', newline='') as ficher_csv:
        csv_writer = csv.writer(ficher_csv)
        result = [[k[0], k[1], k[2], v]  for k, v in result.items()]
        fieldnames = ['top','jungle','mid', 'count']
        csv_writer.writerows([fieldnames])
        csv_writer.writerows(result)
        
def write_adc_supp_drafts():
    drafts = do_sql(f'SELECT adc, support FROM {db["draft"]}').fetchall()
    result = {}
    # drafts = [['Fiora', 'Zac', 'Veigar', 'Varus', 'Taric'], ['Aatrox', 'Wukong', 'Syndra', 'Varus', 'Renata Glasc'], ['Aatrox', 'Wukong', 'Syndra', 'Varus', 'Renata Glasc']]
    for draft in drafts:
        # print(str(draft))
        # print(str(result.keys()))
        # print()
        if not draft in result.keys():
            result[draft] = 1
        else:
            result[draft] += 1

    with open(f'adc_supp_{db["draft"]}.csv', 'w', newline='') as ficher_csv:
        csv_writer = csv.writer(ficher_csv)
        result = [[k[0], k[1], v]  for k, v in result.items()]
        fieldnames = ['adc','support', 'count']
        csv_writer.writerows([fieldnames])
        csv_writer.writerows(result)

write_top_jgl_mid_drafts()
write_adc_supp_drafts()

>>>SELECT top, jungle, mid FROM draft_top_team_2024
>>>SELECT adc, support FROM draft_top_team_2024

Sql

In [2]:
def create_sql_file_from_csv(input_file, table_name):

    # Ouverture du fichier CSV en mode lecture
    with open(input_file, 'r') as csvfile:
        # Lecture du fichier CSV
        csvreader = csv.reader(csvfile)
        # print("csv_reader1", csvreader[0])
        # Ignorer l'en-tête du CSV
        fieldnames = next(csvreader)
        fieldnames_2 = ""
        fieldnames_3 = ""
        for fields in fieldnames:
            fieldnames_2 += f"{fields} VARCHAR(255) NULL, "
            fieldnames_3 += f"{fields}, "
        fieldnames_2 = fieldnames_2[:-2]
        fieldnames_3 = fieldnames_3[:-2]
        # Afficher la commande SQL de création de la table
        con.commit()
        do_sql(f"CREATE TABLE {table_name} ({fieldnames_2});")
        # Parcourir les lignes du CSV et générer les commandes SQL
        for row in csvreader:
            result = ""
            for el in row:
                result += f'"{el}", '
            result = result[:-2]
            # adc = row[0]
            # supp = row[1]
            # count = row[2]
            
            # Générer la commande SQL d'insertion
            do_sql(f"INSERT INTO {table_name} ({fieldnames_3}) VALUES ({result});")
    con.commit()

create_sql_file_from_csv(r'draft_database_2023.csv', r"draft2_database_2023")

>>>CREATE TABLE draft2_database_2023 (top VARCHAR(255) NULL, jungle VARCHAR(255) NULL, mid VARCHAR(255) NULL, adc VARCHAR(255) NULL, support VARCHAR(255) NULL, result VARCHAR(255) NULL, count VARCHAR(255) NULL);
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jax", "Poppy", "Taliyah", "Ezreal", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Sejuani", "Viego", "Syndra", "Zeri", "Yuumi", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Xin Zhao", "Ryze", "Lucian", "Nami", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Vi", "Irelia", "Draven", "Amumu", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Wukong", "Syndra", "Varus", "Renata Glasc", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Camille", "Amumu", "Yone", "Jhin", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Sejuani", "Vi", "Akali", "Twitch", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Zac", "Veigar", "Varus", "Taric", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Sejuani", "LeBlanc", "Xayah", "Alistar", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Mordekaiser", "Vex", "Varus", "Leona", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Vi", "Vex", "Ziggs", "Renata Glasc", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Sejuani", "Sylas", "Zeri", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Wukong", "Swain", "Jhin", "Lux", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gragas", "Poppy", "Jayce", "Varus", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Kennen", "Graves", "Syndra", "Varus", "Nautilus", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Xin Zhao", "Ekko", "Jhin", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Vi", "Ahri", "Varus", "Heimerdinger", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Ornn", "Dr. Mundo", "Ryze", "Jhin", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jax", "Sejuani", "Akali", "Kog'Maw", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Olaf", "Viego", "Sylas", "Varus", "Leona", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Sejuani", "Galio", "Draven", "Renata Glasc", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Ornn", "Wukong", "Sylas", "Kai'Sa", "Blitzcrank", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Sejuani", "Jarvan IV", "Akali", "Lucian", "Nami", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Wukong", "Ryze", "Draven", "Nautilus", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Yone", "Zac", "Kassadin", "Varus", "Zilean", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Olaf", "Wukong", "Sylas", "Caitlyn", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Trundle", "Akali", "Caitlyn", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Ahri", "Lucian", "Nami", "1", "5");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Sett", "Lillia", "Syndra", "Sivir", "Yuumi", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gangplank", "Wukong", "Azir", "Varus", "Heimerdinger", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Ryze", "Kai'Sa", "Nautilus", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Maokai", "Azir", "Varus", "Renata Glasc", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Kindred", "Syndra", "Ezreal", "Renata Glasc", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Xin Zhao", "Ryze", "Zeri", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Akali", "Caitlyn", "Lux", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Maokai", "Azir", "Kalista", "Nautilus", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Kennen", "Poppy", "Sylas", "Sivir", "Yuumi", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jax", "Wukong", "Kassadin", "Zeri", "Lulu", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Wukong", "Akali", "Kalista", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Syndra", "Aphelios", "Soraka", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Graves", "Syndra", "Jhin", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Camille", "Viego", "Ryze", "Varus", "Lux", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Camille", "Graves", "Galio", "Varus", "Renata Glasc", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Viego", "Ryze", "Draven", "Blitzcrank", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Wukong", "Ahri", "Zeri", "Lulu", "0", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Maokai", "Akali", "Sivir", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Kennen", "Wukong", "Lissandra", "Zeri", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Vi", "Taliyah", "Lucian", "Nami", "1", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jayce", "Sejuani", "Syndra", "Varus", "Heimerdinger", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Camille", "Wukong", "Ahri", "Sivir", "Ashe", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Wukong", "Azir", "Varus", "Bard", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gangplank", "Maokai", "Yone", "Jhin", "Heimerdinger", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Wukong", "Azir", "Zeri", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Sejuani", "Syndra", "Lucian", "Nami", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Ornn", "Vi", "Viktor", "Varus", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Maokai", "Syndra", "Ezreal", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Viego", "Syndra", "Sivir", "Renata Glasc", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Malphite", "Vi", "Zoe", "Varus", "Nami", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Skarner", "Ryze", "Zeri", "Heimerdinger", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Viego", "Syndra", "Varus", "Leona", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jax", "Sejuani", "Ryze", "Zeri", "Lulu", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Nidalee", "Renekton", "Varus", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Zac", "Ryze", "Zeri", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jax", "Vi", "Syndra", "Varus", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Graves", "Galio", "Zeri", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Vi", "Viktor", "Lucian", "Nami", "0", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Wukong", "Syndra", "Lucian", "Nami", "0", "7");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Vi", "Ryze", "Zeri", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Camille", "Viego", "Lissandra", "Zeri", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Wukong", "Ryze", "Lucian", "Nami", "0", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gangplank", "Vi", "Ryze", "Zeri", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Graves", "Akali", "Jhin", "Ashe", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Poppy", "Syndra", "Caitlyn", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Kennen", "Wukong", "Irelia", "Caitlyn", "Nautilus", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gangplank", "Maokai", "Sylas", "Ashe", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Viego", "Lissandra", "Lucian", "Sona", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Lee Sin", "Ryze", "Draven", "Nami", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Kindred", "Lissandra", "Zeri", "Lulu", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Darius", "Sylas", "Syndra", "Varus", "Renata Glasc", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Vi", "Ryze", "Lucian", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Trundle", "Sylas", "Ezreal", "Nami", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Camille", "Viego", "Taliyah", "Lucian", "Nami", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Graves", "Ahri", "Zeri", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Maokai", "Orianna", "Kalista", "Renata Glasc", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Xin Zhao", "Ryze", "Varus", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Lee Sin", "Syndra", "Sivir", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Maokai", "Azir", "Zeri", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Wukong", "Azir", "Sivir", "Yuumi", "1", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Sejuani", "Kassadin", "Zeri", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Wukong", "Syndra", "Varus", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Azir", "Jhin", "Blitzcrank", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Maokai", "Jayce", "Jhin", "Soraka", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Sejuani", "Swain", "Zeri", "Heimerdinger", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Maokai", "Syndra", "Zeri", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Vi", "Azir", "Caitlyn", "Lux", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Wukong", "Ahri", "Zeri", "Rakan", "1", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gwen", "Vi", "Sylas", "Aphelios", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jayce", "Maokai", "Akali", "Lucian", "Nami", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Vi", "Galio", "Zeri", "Yuumi", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Olaf", "Sejuani", "Azir", "Sivir", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Maokai", "Ryze", "Aphelios", "Lulu", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Nocturne", "Viktor", "Lucian", "Nami", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Elise", "Swain", "Varus", "Ashe", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Renekton", "Sejuani", "LeBlanc", "Lucian", "Nami", "0", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Viktor", "Zeri", "Yuumi", "1", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Wukong", "Karma", "Zeri", "Lulu", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Ahri", "Varus", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Graves", "Galio", "Ashe", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gragas", "Bel'Veth", "Lissandra", "Sivir", "Nautilus", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Vi", "Viktor", "Varus", "Heimerdinger", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Camille", "Sejuani", "Yone", "Ashe", "Renata Glasc", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Wukong", "Syndra", "Jhin", "Seraphine", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Xin Zhao", "Lux", "Varus", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Yone", "Maokai", "Ryze", "Varus", "Lulu", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Ahri", "Zeri", "Yuumi", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Ornn", "Maokai", "Ryze", "Jinx", "Rell", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Vi", "Lissandra", "Zeri", "Yuumi", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Aatrox", "Maokai", "Kassadin", "Varus", "Nautilus", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Poppy", "Wukong", "Syndra", "Zeri", "Yuumi", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Fiora", "Sejuani", "Sylas", "Kai'Sa", "Rakan", "1", "2");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jayce", "Maokai", "Irelia", "Ashe", "Karma", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Ornn", "Viego", "Seraphine", "Varus", "Karma", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Nasus", "Wukong", "Corki", "Xayah", "Rakan", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Ornn", "Kindred", "Syndra", "Sivir", "Heimerdinger", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Maokai", "Ryze", "Varus", "Jhin", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Vi", "Syndra", "Xayah", "Rakan", "1", "5");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Olaf", "Wukong", "Lissandra", "Zeri", "Yuumi", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("K'Sante", "Xin Zhao", "Azir", "Varus", "Leona", "1", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Jayce", "Maokai", "Viktor", "Lucian", "Nami", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Gnar", "Vi", "Ryze", "Varus", "Nautilus", "0", "1");
>>>INSERT INTO draft2_database_2023 (top, jungle, mid, adc, support, result, count) VALUES ("Irelia", "Maokai", "Tristana", "Zeri", "Yuumi", "1", "1");